<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSNotes"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".about"
            android:exported="false"
            android:label="About"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".settings"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".syllabus"
            android:exported="false"
            android:label="@string/Syllabus"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Assignment2"
            android:exported="false"
            android:label="Assignment no.2"
            android:parentActivityName=".AssignmentActivity"/>
        <activity
            android:name=".Assignment1"
            android:exported="false"
            android:label="Assignment no.1"
            android:parentActivityName=".AssignmentActivity"/>
        <activity
            android:name=".ResourcesActivity"
            android:exported="false"
            android:label="Resources"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".fifthunitActivity"
            android:exported="false"
            android:label="UNIT 5: PHP"
            android:parentActivityName=".NotesActivity"/>
        <activity
            android:name=".fourthunitActivity"
            android:exported="false"
            android:label="UNIT 4: XML"
            android:parentActivityName=".NotesActivity"/>
        <activity
            android:name=".thirdunitActivity"
            android:exported="false"
            android:label="UNIT 3: JAVASCRIPT"
            android:parentActivityName=".NotesActivity"/>
        <activity
            android:name=".secondunitActivity"
            android:exported="false"
            android:label="UNIT 2: CSS"
            android:parentActivityName=".NotesActivity"/>
        <activity
            android:name=".AssignmentActivity"
            android:exported="false"
            android:label="Assignments"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".NotesActivity"
            android:exported="false"
            android:label="Notes"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".firstunitActivity"
            android:exported="false"
            android:label="UNIT 1: HTML"
            android:parentActivityName=".NotesActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>